
body{
  background-color: rgba(0, 0, 0, .9);
  color:#fff;
  font-family:arial helvetica sans-serif;
  font-style: normal;
}



.navBar-section1 {
  height: 65px;
  width: 50%;
  z-index:500;
  display:inline-block;
  position:fixed;
  left:0px;
  top:0px;
  background: #000000;
}

.pageID {
  margin-left:6px;
}

.navBar-section2 {
  height:65px;
  width: 50%;
  z-index:1000;
  display:inline-block;
  position:fixed;
  right:0px;
  top:0px;
  background-color: #000000;
}

.navMenu{
  position:fixed;
  top:0px;
  right:0px;
}

.navMenu ul {
  list-style: none;
  background:#000000;
  padding:10px;
  margin-right:10px;
  text-align: right;
}

.navMenu li {
  display: inline-block;
}

.navMenu a {
  text-decoration:none;
  color:#ffffff;
  width:100%;
  display:block;
  text-transform:uppercase;
  margin-top:0px;
  padding:4px;
  font-weight:bold;
  text-align:center;
  font-size:14px;
  border: solid #fff 1px;
}

.navMenu a:hover {
  background: #616268;
}









/* Navigation Bar */
/*
.navBar ul {
  list-style: none;
  background:#000000;
  padding:10px;
  margin:-10px;
  text-align: right;
}

.navBar li {
  display: inline-block;
}


.navBar a {
  text-decoration:none;
  color:#ffffff;
  /*width:100%;
  display:block;
  text-transform:uppercase;
  padding: 5px 2px;
  font-weight:bold;
  text-align:center;
  font-size:14px;
  
}

.navBar a:hover {
  background: #616268;
}
*/


.banner{
  margin: auto;
  display:block;
  max-width: 970px;
  max-height: 250px;
  border: 1px solid #000;
}

.film-covers{
  margin:auto;
  max-width:100%;
  display: inline-flex;
}

.cover-image{
  margin:auto;
  display:inline-block;
  width:19%
}


/* KEEP FOOTER STYLE */
.footer-border{
  background:#000000;
  width:100%;
  margin:auto;
  text-align: center;
}

.footer-image{
  display: flexbox;
  max-width: 15%;
  max-height: 15%;
}