/* KEEP FOR BODY */
body{
  background-color: rgba(0, 0, 0, .9);
  color:#fff;
}


/* KEEP FOOTER STYLE */

.footer-image{
  display: table;
  max-width: 15%;
  max-height: 15%;
  position:relative;
  bottom:0px;
  left:50%;
  right:50%;
}


/* KEEP MENU STYLE */
#menu{
  border-style:hidden;
  background:rgba(0,0,0,.3);
  margin:0px;
  width:100%;
  padding:0 10px;
}


/* KEEP NAVIGATION MENU */
.navMenu{
  width:20px;
  height:1px;
  background-color:#fff;
  margin:6px 0;
}


/* KEEP BANNER IMAGE */
.banner{
  margin: auto;
  display:block;
  max-width: 970px;
  max-height: 250px;
  border: 1px solid #000;
}



.film-covers{
  margin:auto;
  max-width:100%;
  display: inline-flex;
}

.cover-image{
  margin:auto;
  display:inline-block;
  width:19%
  
}
