

body{
  background-color: rgba(0, 0, 0, .9);
  color:#fff;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}
/*--------------INDEX GRID STYLE-----------------*/
.grid-container{
  display:grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: auto;
  grid-template-areas: 
   "banner banner banner"
   "pageID grid3 navMenu"
   "portfolio-description portfolio-description portfolio-description"
   "film-covers film-covers film-covers"
   "slider slider blurb"
   "footer-area footer-area footer-area"
}

.top-banner {
  grid-area: banner;
  background-color:#000000;
  text-align:center;
  width: auto;
}

.pageID {
  grid-area:pageID;
  background-color: #000000;
  width: auto;
  text-align: left;
}

.grid3 {
  grid-area:grid3;
  background-color: #000000;
  width: auto;
}

.navMenu {
  grid-area:navMenu;
  background-color: #000000;
  width: auto;
}

.portfolio-description{
  grid-area:portfolio-description;
  max-width:auto;
  text-align: left;
}

.film-covers{
  grid-area:film-covers;
  max-width:auto;
  text-align: center;
}


/*IMAGE SLIDER SECTION ON INDEX*/
#slider {
  grid-area:slider;
  overflow: hidden;
}

#slider .img-box {
  position: relative;
  width:500%;
  margin:0;
  left:0;
  animation: 20s slider infinite;
}

#slider .img-box img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.slider-images{
  width:100%;
}
/*IMAGE SLIDER SECTION ON INDEX*/

.blurb {
  width: auto;
  color:#FFFFFF;
  margin-left:20px;
}

.grid-item-8 {
  width: auto;
}

.footer-area{
  grid-area:footer-area;
  background-color: #000000;
  width:auto;
}

.grid-item-10 {
  width: auto;
}

.grid-item-11 {
  width: auto;
}
/*--------------INDEX GRID STYLE-----------------*/

/*NAV MENU STYLE*/
.navMenu ul {
  list-style: none;
  bottom:0px;
}

.navMenu li {
  display: inline-block;
}

.navMenu a {
  text-decoration:none;
  color:#ffffff;
  width:100%;
  display:block;
  text-transform:uppercase;
  margin-top:0px;
  padding:4px;
  font-weight:bold;
  text-align:center;
  font-size:14px;
  border: solid #fff 1px;
}

.navMenu a:hover {
  background: #616268;
}
/*NAV MENU STYLE*/

/*FILM COVERS*/
.cover-image {
  max-width:15%;
  display:inline-block;
  text-align: center;
}



/*FOOTER*/
.footer-area{
  text-align: center;
}

.FaceBookIcon{
  max-width:10%;
}

.footer-image{
  max-width:20%;
}

.YouTubeIcon{
  max-width:10%;
}
/*FOOTER*/

