
body{
  background-color: rgba(0, 0, 0, .9);
  color:#fff;
  font-family:arial helvetica sans-serif;
  font-style: normal;
}

/* Navigation Bar */

.navBar ul {
  list-style: none;
  background:#000000;
  padding:10px;
  margin:-10px;
  text-align: right;
}

.navBar li {
  display: inline-block;
}


.navBar a {
  text-decoration:none;
  color:#ffffff;
  /*width:100%;*/
  display:block;
  text-transform:uppercase;
  padding: 5px 2px;
  font-weight:bold;
  text-align:center;
  font-size:14px;
  
}

.navBar a:hover {
  background: #616268;
}


.banner{
  margin: auto;
  display:block;
  max-width: 970px;
  max-height: 250px;
  border: 1px solid #000;
}

.film-covers{
  margin:auto;
  max-width:100%;
  display: inline-flex;
}

.cover-image{
  margin:auto;
  display:inline-block;
  width:19%
}


/* KEEP FOOTER STYLE */
.footer-border{
  background:#000000;
  width:100%;
  margin:auto;
  text-align: center;
}

.footer-image{
  display: flexbox;
  max-width: 15%;
  max-height: 15%;
}